@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Margarine", sans-serif;
    box-sizing: border-box;
}
:root{
    --winning-blocks: #2d414b;
}
body{
    background-color:#37505c;
}
.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505c;
}
#statusText{
    color: white;
    margin: 10px;
    font-size: 40px;
    font-weight: lighter;
}
h1{
    font-size: 60px;
    margin: 20px;
    letter-spacing: 3px;
    font-weight: bolder;
    color: orange;
}
#gameboard{
 width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    background-color: transparent;
   font-size: 120px;
   border: none;
   border-right: 2px solid orange;
   border-bottom: 2px solid orange;
}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(6)~ .box{
    border-bottom: none;
}
.box:hover{
    cursor: pointer;
}
#newBtn{
    padding: 10px 20px;
    color: black;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    transition: 200ms transform;
    background-color: orange;    
}
#newBtn:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
.footerbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    height: 30px;
    font-size: large;
    letter-spacing: 2px;
    color: white;
}
.cname{
    color: orange;
    font-size: larger;
}
